body {
  background        : linear-gradient(rgba(255,109,0 ,0.4), rgba(255,109,0 ,0.4)),
                      url("http://www.walldevil.com/wallpapers/a63/beautiful-background-sphere-website-backgrounds-different.jpg");
}
strong span {
  font-family       : 'Ubuntu', sans-serif;
}
input {
  text-align        : center;
  width             : 65%;
  text-shadow       : 10px;
  font-size         : 100%;
  font-family       : 'Roboto', sans-serif;
  padding           : 10px 10px 10px 10px;
  margin            : 10px 0px;
  border            : none;
}
#form {
  text-align        : center;
  width             : 25%;
  height            : 48%;
  margin            : auto;
  margin-top        : 10%;
  padding-top       : 2%;
  background-color  : rgba(200,200,200,0.8);
}
footer {
  height: 20%;
  text-align: center;
  vertical-align: bottom;
  background-color: white;
}
button {
  width             : 40%;
  height            : 10%;
  color             : white;
  font-size         : 1.1em;
  border            : none;
  font-weight       : bold;
  font-family       : avenir next;
  background-color  : #112233;
  margin-bottom     : 20px;
}
