body {
  background        : linear-gradient(rgba(10, 10, 10, 0.1), rgba(10, 20, 2, 0.1)),
                      url("http//www.beautiful-views.net/views/camera-photographic-flowers-girl-forest-way.jpg");
                      z-index: -100;
}
video {
  margin-left: 0;
}
#vid {

}
#wrapper {
  margin: 20px;
  float: left;
  width: 60%;
  height: 30%;
  border: 1px solid grey;
}
#right-content {
  color: black;
  width: 39%;
  font-size: 20px;
  font-weight: bold;
  float: right;
  border: 1px solid blue;
  margin: 20px;
}
#footer {
  color: black;
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-weight: bold;
  clear: both;
  float: left;
  border: 1px solid red;
  vertical-align: bottom;
}
#webcam {
  width: 600px;
  background-color: #ccc;
  border: 10px solid grey;
  margin: 0 auto;
}
.btn {
  margin: 10px 0;
  padding: 10px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  background-color: cornflowerblue;
}
