html {
    margin          : 0;
}

body {
  margin            : 0;
  background        : linear-gradient(rgba(100, 200, 255, 0.7), rgba(100, 200, 255, 0.7)),
                      url("http://www.walldevil.com/wallpapers/a63/beautiful-background-sphere-website-backgrounds-different.jpg");
}
input:focus {
  outline:none;
}
button:hover {
  transition: 0.3;
  box-shadow        : 2px 4px 10px #aaaaaa;
}
#header{
  width: 100%;
  height            : 1.5em;
  text-align        : center;
  font-stretch      : 4px;
  font-size         : 1.5em;
  color             : #000;
  font-weight       : bold;
  font-family       : 'Oswald', sans-serif;
  width             : inherit;
  padding-top       : 5px;
  background-color  : #fff;
  box-shadow        : 0 2px 8px #2d1447;
  border: 1px soli grey;
}
